@model AlienWeightModel

@{
    ViewData["Title"] = "Alien Weight Result";
}

@section StyleSheet {
    <link rel="stylesheet" type="text/css" href="~/css/AlienWeightResult.css" />
}


<section id="calculatorResult" class="centeredPanel">
    <div class="results-sect">
        <img src="~/images/@(Model.SelectedPlanet.ToLower()).jpg" />
        <p>If you are @Model.EarthWeight Ibs on planet Earth, you would weigh @AlienWeightModel.CalcAlienWeight(Model.SelectedPlanet, Model.EarthWeight).ToString("0.00") Ibs on @(Model.SelectedPlanet).</p>
    </div>

</section>