@model List<ForumPost>

@{
    ViewData["Title"] = "Index";
}

<section class="centeredPanel">
    <h2>Solar System Geek Forum</h2>
    <a asp-action="NewPost" asp-controller="Forum">Post a Message</a>
    <div class="post">
        @foreach (ForumPost post in Model)
        {
            <p>@post.Message</p>
        }
    </div>
</section>