h2 {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

a {
    display:flex;
    text-align: center;
    justify-content: center;
}

.post {
    display: grid;
    margin: 5px 10px;
    padding: 0 0 5px 10px;
}

.post h4 {
    font-weight: bold;
    margin-bottom: 0;
}

.centeredPanel {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.product-details {
    display: grid;
    grid-template-columns: 25% 50%;
}

.productImage {
    width: 300px;
}


form button {
    margin-left: 20px;
}

.product-description {
    margin-bottom: 20px;
}

.product-info label {
    margin-right: 50px;
}

.product-info form input[type="number"]{
    width: 250px;
}

#product-title {
    font-weight: bold;
    color: black;
}

#product-price {
    color: deepskyblue;
}