h2 {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

/*a {
    display:flex;
    text-align: center;
    justify-content: center;
}*/

.head {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.products {
    display: flex;
    flex-direction: column;
}

.product {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    grid-template-areas: "image name price qty total";
    margin: 5px;
    text-align: center;
    font-size: 18px;
    color: #000000;
}


.productImage {
    width: 100%;
    grid-area: image;
}

.productName {

    grid-area: name;
}

.productQuantity {
    grid-area: qty;
}

.productTotal {
    grid-area: total;
}

.grandTotal {
    text-align: right;
    margin-right: 2.5%;
}

.centeredPanel {
    margin-bottom: 20px;
    padding-bottom: 20px;
}